<div class="card-form">
    <div class="form-login">
        <h2 class="form-title">Recuperar contraseña</h2>
        <div class="form-group">
            <label for="inputEmailLogin">Nombre de usuario:</label>
            <input type="email"  id="inputEmailLogin" required autofocus [(ngModel)]="nombreUsuario">
        </div>
        <div class="form-group">
            <label for="inputPasswordLogin">Nueva contraseña:</label>
            <input type="password" id="inputPasswordLogin" required [(ngModel)]="contrasena">
        </div>
        <div class="form-group btns">
            <button  (click)="recuperar()">Recuperar</button>
        </div>
        <div class="msge">
            {{mensaje}}
        </div>
    </div>
</div>

